@media all and (min-width: 300px)  {  h1  { font-size:1.84em;  } h2 { font-size:1.6em;  } p { font-size:0.7em; } div { margin-left: 5px; margin-right: 5px; margin-top: 1px; margin-bottom: 1px; } }

.flashcard {
  height: 100vh;
  text-align: center;
}

h2 {
  margin-bottom: 0rem;
}

.header {
  height: 15vh;
}

select {
  height: 7vh;
}

.phrase {
  height: 19vh;
}

.hint {
  height: 6vh;
}

button {
  height: 10vh;
  margin: 0.5vh;
}

.footer {
  height: 5vh;
}


.navbuttons {
  display: flex;
  justify-content: space-evenly
}

.item {
  flex: 1 1 0px;
  text-align: center;
  border: 1px solid black;
}
