.flashcard {
  height: 100vh;
  text-align: center;
}

.header {
  height: 15vh;
}

h1 {
  font-size:4vh;
}

h2 {
  font-size:3.5vh;
  margin-bottom: 0rem;
}

p {
  font-size:3vh;
}

.dropdown {
  height: 6vh;
}

select {
  height: 5vh;
}

.phrase {
  height: 19vh;
}

.hint {
  height: 6vh;
}

button {
  height: 10vh;
  margin: 0.5vh;
}

.footer {
  height: 5vh;
}

.flexcontainer {
  display: flex;
  justify-content: space-evenly
}

.flexitem {
  flex: 1 1 0px;
}
