<div class="flashcard">
  <div class="header">
    <h1>
      {{ title }}
    </h1>
    <h1>
      🧧🐒🌻🧧
    </h1>
  </div>

  <div>
    <select class="btn btn-light dropdown-toggle" (change)="onChange($event.target.value)">
      <option *ngFor="let it of themes" [value]="it.value">{{it.name}}</option>
    </select>
  </div>

  <div class="phrase">
    <h2>{{this.deckIndex + 1}}: {{en}}</h2>
    <h1>{{zhHK}}</h1>
  </div>

  <div class="hint">
    <p><b>Hint: </b>{{hint}}</p>
  </div>

  <div class="phrase">
    <h2>{{jyutping}} </h2>
  </div>

  <div>
    <button type="button" class="btn btn-info btn-lg" (click)="revealPronunciation()">Reveal jyutping </button>
  </div>

  <div class="navbuttons">
    <button type="button" class="btn btn-primary btn-lg item" (click)="nextPhrase(false)">Back</button>
    <button type="button" class="btn btn-primary btn-lg item" (click)="nextPhrase(true)">Next</button>
  </div>

  <a class="footer" target="_blank" href="https://en.wikipedia.org/wiki/Jyutping#Tones">Tones explained</a>
</div>